{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Music Room</title>
    <link rel="stylesheet" href="{% static 'css/mobile-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tablet-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/desktop-styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page">
      <header class="navbar">
        <div class="navbar-container">
          <div class="logo link center">
            <img src="{% static 'images/musicroom.png' %}" alt="company logo" />
          </div>
          <div class="navbar-toggle">
            {% if request.user.is_authenticated %}
            <button class="big-button" onclick="window.location.href='/music.html'" style="background-color: transparent;">Music</button>
            {% else %}
            <button class="big-button" onclick="window.location.href='/login.html'" style="background-color: transparent;">Sign in</button>
            {% endif %}
          </div>
          <nav class="navbar-collapse">
            <ul class="navbar-links">
              {% if request.user.is_authenticated %}
              <li class="link"><a href="{% url 'index' %}" class="link light-grey"><strong>Home</strong></a></li>
              <li class="link"><a href="{% url 'music' %}" class="link light-grey"><strong>Music</strong></a></li>
              <li>|</li>
              <li class="link light-grey"><a href="#" class="link light-grey"><strong style="color: red;">{{request.user}}</strong></a></li>
              <li class="link light-grey"><a href="{% url 'logoutUser' %}" class="link light-grey"><strong>Logout</strong></a></li>
              {% else %}
              <li class="link light-grey"><a href="{% url 'login2' %}" class="link light-grey"><strong>Sign in</strong></a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </header>
      <main class="center">
        {% block content %}

        {% endblock %}
      </main>
        <footer>
            <section class="footer-links-section">
              <div class="logo link">
                <img src="{% static 'images/musicroom.png' %}" alt="company logo" />
              </div>
              <div class="footer-links">
                <ul>
                  <li class="dark-grey">Music Room</li>
                  <li ><span class="link">If</span></li>
                  <li ><span class="link">Job</span></li>
                  <li ><span class="link">For the Record</span></li>
                </ul>
                <ul>
                  <li class="dark-grey">COMMUNITIES</li>
                  <li><span class="link">For artist</span></li>
                  <li><span class="link">Developer</span></li>
                  <li><span class="link">Brands</span></li>
                  <li><span class="link">Investor</span></li>
                  <li><span class="link">Salesman</span></li>
                </ul>
                <ul>
                  <li class="dark-grey">Useful Links</li>
                  <li><span class="link">Help</span></li>
                  <li><span class="link">Web player</span></li>
                  <li><span class="link">Get mobile app</span></li>
                </ul>
              </div>
              <div class="footer-social-icons">
                <img class="link" src="{% static 'images/instagram.png' %}" alt="instagram link" />
                <img class="link" src="{% static 'images/twitter.png' %}" alt="twitter link" />
                <img class="link" src="{% static 'images/facebook.png' %}" alt="facebook link" />
              </div>
            </section>
    
            <section class="footer-legal-section">
              <div class="legal-section-country">
                <p class="link country dark-grey">South Africa</p>
                <img class="flag" src="{% static 'images/southafrican.svg' %}" alt="sverige flagga" />
              </div>
              <div class="container">
                <div class="legal-section-links">
                  <a class="link dark-grey" href="">Legal information</a>
                  <a class="link dark-grey" href="">Privacy center</a>
                  <a class="link dark-grey" href="">Privacy policy</a>
                  <a class="link dark-grey" href="">Cookies</a>
                  <a class="link dark-grey" href="">about ads</a>
                </div>
                <a class="copyrigth dark-grey">© 2020 Music Room</a>
              </div>
            </section>
          </footer>
        </div>
      </body>
    </html>