{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .google{
        background-image : url(../static/images/google.png);
        background-size: cover;
        display: inline-block;
        height: 29px;
        margin: 8px 11px 4px 8px;
        width: 30px;
    }
    .github{
        background-image : url(../static/images/github.png);
        background-size: cover;
        display: inline-block;
        height: 29px;
        margin: 8px 11px 4px 8px;
        width: 30px;
    }

    .facebook{
        background-image : url(../static/images/facebook.png);
        background-size: cover;
        display: inline-block;
        height: 29px;
        margin: 8px 11px 4px 8px;
        width: 30px;
    }

    .login-div {
    margin: 150px auto;
    width: 550px;
    background-color: transparent;
    padding: 64px;
    }

    .title {
        text-align: center;
        color: white;
    }

    .title {
        font-weight: bolder;
        font-size: 35px;
    }

    .form {
        width: 100%;
        margin-top: 30px;
    }

    .form input {
        font-size: 18px;
        padding: 10px 20px 10px 5px;
        border: none;
        outline: none;
        background: none;
    }

    .email, .password {
        display: block;
        border-radius:30px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 7px;
        margin: 10px 0;
    }

    .form svg {
        height: 25px;
        margin-bottom: -5px;
        margin-left: 18px;
        margin-right: 5px;
    }

    .options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0px;
        margin-bottom: 15px;
    }

    button.signin-btn {
        width: 100%;
        padding: 12px 10px;
        border: none;
        font-size: 18px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        margin-bottom: 5px;

    }

    .sign-up {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: red;
    }

    @media screen and (max-width: 768px){
        .login-div {
            grid-template-columns: 1fr;
            margin-left: 10px;
            margin-right: 10px;
            margin: 10px;
            padding: 12px;
            }

        .form {
            width: 100%;
            margin-top: 15px;
        }

        
    }
</style>

<div class="login-div">
    <div class="title">Login</div>
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="email">
            <svg class="svg-icon" viewBox="0 0 20 20">
                <path d="M17.388,4.751H2.613c-0.213,0-0.389,0.175-0.389,0.389v9.72c0,0.216,0.175,0.389,0.389,0.389h14.775c0.214,0,0.389-0.173,0.389-0.389v-9.72C17.776,4.926,17.602,4.751,17.388,4.751 M16.448,5.53L10,11.984L3.552,5.53H16.448zM3.002,6.081l3.921,3.925l-3.921,3.925V6.081z M3.56,14.471l3.914-3.916l2.253,2.253c0.153,0.153,0.395,0.153,0.548,0l2.253-2.253l3.913,3.916H3.56z M16.999,13.931l-3.921-3.925l3.921-3.925V13.931z"></path>
            </svg>
            <input type="text" name="email" placeholder="Email" required>
        </div>

        <div class="password">
            <svg class="svg-icon" viewBox="0 0 20 20">
                <path d="M17.308,7.564h-1.993c0-2.929-2.385-5.314-5.314-5.314S4.686,4.635,4.686,7.564H2.693c-0.244,0-0.443,0.2-0.443,0.443v9.3c0,0.243,0.199,0.442,0.443,0.442h14.615c0.243,0,0.442-0.199,0.442-0.442v-9.3C17.75,7.764,17.551,7.564,17.308,7.564 M10,3.136c2.442,0,4.43,1.986,4.43,4.428H5.571C5.571,5.122,7.558,3.136,10,3.136 M16.865,16.864H3.136V8.45h13.729V16.864z M10,10.664c-0.854,0-1.55,0.696-1.55,1.551c0,0.699,0.467,1.292,1.107,1.485v0.95c0,0.243,0.2,0.442,0.443,0.442s0.443-0.199,0.443-0.442V13.7c0.64-0.193,1.106-0.786,1.106-1.485C11.55,11.36,10.854,10.664,10,10.664 M10,12.878c-0.366,0-0.664-0.298-0.664-0.663c0-0.366,0.298-0.665,0.664-0.665c0.365,0,0.664,0.299,0.664,0.665C10.664,12.58,10.365,12.878,10,12.878"></path>
            </svg>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="options">
            <div class="remember-me">
                <input type="checkbox" name="remember-me">
                <label for="remember-me">Remember me?</label>
            </div>

            <div class="forgot-password">
                <a href="{% url 'reset_password' %}">Forgot Password?</a>
            </div>
        </div>
        <button type="submit" class="signin-btn">Sign In</button>
        <br><br>
        <div class="sign-up">
            <a href="{% url 'register' %}">Sign up here</a>
        </div>
        <br>
    </form>
    <div class="title">
        <p class="text-darkyellow" style="font-size: 14px; margin-top: 5px; color: green;"> Or Sign In With</p>
        <a href="{% url 'social:begin' 'github' %}">
            <button type="submit" class="btn btn-default"><i class="github" aria-hidden="true"></i></button>
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button type="submit" class="btn btn-default"><i class="google" aria-hidden="true"></i></button>
        </a>
        <a href="{% url 'social:begin' 'facebook' %}">
            <button type="submit" class="btn btn-default"><i class="facebook" aria-hidden="true"></i></button>
        </a>
        <a href="https://connect.deezer.com/oauth/auth.php?app_id=443742&redirect_uri=http://localhost:8000/code_check/&perms=basic_access,offline_access,email,manage_library,delete_library">
            <img src="{% static 'images/deezer_logo.png' %}" alt="company logo" weight="40px" height="40px"/>
        </a>
    </div>
    <br>
    {% for message in messages %}
        <p style="color: green;">
            {{ message}}
        </p>
        {% endfor %}
</div>

{% endblock %}