{% extends 'base.html' %}

{% block content %}
<style>
    .login-div {
    margin: 150px auto;
    width: 550px;
    background-color: transparent;
    padding: 64px;
    }

    .title {
        text-align: center;
        color: white;
    }

    .title {
        font-weight: bolder;
        font-size: 35px;
    }

    .form {
        width: 100%;
        margin-top: 30px;
    }

    .form input {
        font-size: 18px;
        padding: 10px 20px 10px 5px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.4);
        margin-bottom: 15px;
    }

    button.signin-btn {
        width: 100%;
        padding: 12px 10px;
        border: none;
        font-size: 18px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        margin-bottom: 5px;

    }

    @media screen and (max-width: 768px){
        .login-div {
            grid-template-columns: 1fr;
            margin-left: 10px;
            margin-right: 10px;
            margin: 10px;
            padding: 12px;
            }

        .form {
            width: 100%;
            margin-top: 15px;
        }

        
    }
</style>

<div class="login-div">
    <div class="title">Reset Password</div>
    <form class="form" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="Submit" class="signin-btn">Send email</button>
    </form>
</div>

{% endblock %}