<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://cdn-files.deezer.com/js/min/dz-v00202681.js"></script>
  <script src="{% static 'js/Playlist.js' %}"></script>

	<style type="text/css">
		.progressbarplay {
			cursor:pointer;overflow: hidden;height: 8px;margin-bottom: 8px;background-color: #F7F7F7;background-image: -moz-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -ms-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -webkit-gradient(linear,0 0,0 100%,from(whiteSmoke),to(#F9F9F9));background-image: -webkit-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: -o-linear-gradient(top,whiteSmoke,#F9F9F9);background-image: linear-gradient(top,whiteSmoke,#F9F9F9);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;
		}
		.progressbarplay .bar {
			cursor:pointer;background: #4496C6;width: 0;height: 8px;color: white;font-size: 12px;text-align: center;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);-moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition: width .6s ease;-moz-transition: width .6s ease;-ms-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;
		}
  </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
</head>
<body>
  <nav>
    <ul class="navigation">
      <li style="float:left"><a href="{% url 'music' %}"><i class="fas fa-house-damage onleft" ></i>Music Room</a></li>
      <li style="float:right; margin-right: 50px;"><a href="{% url 'logoutUser' %}"><i class="fas fa-sign-out-alt onright"></i>Logout</a></li>
    </ul>
</nav>
<button class="stylebtn" class="dropdown--button" id="user">
  <span class="user-icon"><i class="lni-user"></i></span>
  <span class="text-bold">{{request.user}}</span>
</button>
<div id="dz-root"></div>
<div id="player" style="width:100%;" align="center"> 
</div>
<br/>
<div class="home">
  <div id = "myNav2" class="overlay">
    <p href="javascript:void(0)" class="closebtn" onclick="closeNav2();close_search()">&times;</p>
    <div class="overlay-content">
      <p> Add tracks to playlist</p>
      <form method="POST" >{% csrf_token %}
        <p>Search music<input id="search_artist" name="search_artist" type="text" placeholder="Enter artist/track.."></p>
        <button id="artist_enter" onclick="openNav2()">Enter</button>
        <button id="clear_search_results" name="clear_search_results">Clear search</button>
      </form>
      <br>
      {% if artist_value%}
        <div id="artist_info">
          <h3>--Search results--</h3>
        {% for k in artist_value%}
        <br>
        <img id="artist_image" src="{{k.album_art}}" alt="default_pic" width="140" height="140"><h3>Title: {{ k.title}} - {{ k.duration }}  <button id="artist_search_add" value="{{k.artist_id}},{{k.title}},{{k.artist_name}},{{k.album_title}},{{k.duration}}" onclick="api_add_track_playlist(`{{k.artist_id}}`)">+</button><h3>Album: {{k.album_title}}</h3></h3>
          <!-- <img id="artist_image" src="{{k.album_art}}" alt="default_pic" width="140" height="140"><p>Title: {{ k.title}} - {{ k.duration }}  <button id="artist_search_add" value="{{k.title}}  |  {{k.artist_name}}|{{k.album_title}}   | {{k.duration}}" onclick="api_api_add_track_playlist(`{{k.artist_id}}`)">+</button></p> -->
          <hr></hr>
          {% endfor %}
        </div> 
      {% endif %}
    </div>
  </div>
  {% if artist_value %}
  <script>
   openNav2()
  </script>
  {% endif %}
  <div id = "myNav" class="overlay">
    <p href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</p>
    <div class="overlay-content">
      <p><u>User who have access</u></p>
        <p id ="private_user_list"></p>
          {% for k in private_list%}
        <script>
          var user_list="{{k.playlist_members}}"
          // console.log("User list",user_list)
          var playlist_owner="{{k.playlist_owner}}"
          var names= user_list.split(',')
          // names.shift()
          names.forEach(function(results){
            var name_div=document.getElementById('private_user_list')
            var create_div=document.createElement('div')
            var create_hr = document.createElement('hr')
            create_hr.setAttribute("width","500px")
            create_hr.setAttribute("text-align","centre")
            console.log(results)
            create_div.innerHTML=results
            if (results != playlist_owner)
            {
              var create_btn = document.createElement('input')              
              create_btn.setAttribute('type', 'checkbox')
              create_btn.setAttribute('class', 'permission_checkbox')
              // create_btn.setAttribute('onclick','Give_player_rights()')
              create_btn.setAttribute('name', 'permission_button')
              create_btn.setAttribute('id', results)
              create_btn.appendChild(document.createTextNode('Give playlist rights'))
              create_div.appendChild(create_btn)
            
            }
              name_div.appendChild(create_hr)
              name_div.appendChild(create_div)
              name_div.appendChild(create_hr)

          })
          
          // document.getElementById('private_user_list').textContent=names[0]
        </script>
        <!-- <p>{{k.playlist_members}}</p> -->
        {% endfor %}
      </div>
    </div>

    <a href="/playlist_view" class="fab fa-spotify" style="color:#1db954; text-decoration:none;">Back to Playlist</a>
  <h1>
  {% if user == playlist_host %}
    <img src="{% static 'images/admin_img.png' %}" alt="default_pic" width="25" height="25" style="filter:invert(100%)">[Host]
  {% else %}  
    <img src="{% static 'images/play_icon.png' %}" alt="default_pic" width="39" height="39">
  {% endif %}
    MusicRoom : {{playlist_name}}
  </h1>
  {% for k in private_list%}
    <img src="{% static 'images/private_img.png' %}" alt="default_pic" width="40" height="40" style="filter:invert(100%)">{{k.playlist_status}} : 
    <a href="#" onclick="edit_user();return false  ">List of users</a>
  {% endfor %}
  {% for j in public_list%}
    <img src="{% static 'images/public_img.png' %}" alt="default_pic" width="40" height="40" style="filter:invert(100%)">{{j.playlist_status}}
  {% endfor %}
  <p>Host : 
    {% if user == playlist_host%}
      You
    {% else %}
      {{playlist_host}}
    {% endif%}
  </p>
  {{ playlist_name |json_script:"playlist-name"}}
  {{ request.user.username| json_script:"user-username" }}
{% if playlist_status == 'Private' or user == playlist_host %}
  <button id="Search_results" onclick="openNav2()" style="background: linear-gradient(#f36482, #f8bf4a); color: black;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  cursor: pointer"> Add tracks to Playlist</button>
{% endif %}

<pre>   Title   |   Album   |   Artist   |   Duration   | </pre>  
<ul id="List_songs">
  {%for k in current_playlist%}
  <li id={{k.artist_id}}>{{k.title}}  | {{k.album_title}} | {{k.artist_name}}| {{k.duration}}|
    {% if playlist_status == 'Private' %}
      <button id="remove_song_id" onclick="delete_song(`{{k.artist_id}}`);delete_track_playlist(`{{k.artist_id}}`)">remove</button></li>
    {% else %}
      {% if user == playlist_host%}
        <button id="remove_song_id" onclick="delete_song(`{{k.artist_id}}`);delete_track_playlist(`{{k.artist_id}}`)">remove</button></li>
      {% endif%}
    {% endif%}
    <!-- <p>{{playlist_status}}</p> -->
  <!-- </p>{{playlist_host}}</p> -->
  <!-- <p> 1= james 2=nkosi</p> -->
  <!-- {{praylist_members}} -->

  {% endfor %}
</ul><div id="button_1"></div>


</div> 
<!-- //////////////////////////// -->
<div id="controlers">
	<!-- <input class="stylebtn" type="button" onclick="DZ.player.playAlbum(302127); return false;" value="Play Daft Punk - Discovery"/> -->
    <!-- <input class="stylebtn" type="button" onclick="DZ.player.playAlbum(301775); return false;" value="Play Daft Punk - Homework"/> -->
    <input class="stylebtn" type="button" id="player_start" onclick="DZ.player.playPlaylist(parseInt(`{{playlist_id}}`)); return false;" value="Play My playlist"/>

	<br/>
	<!-- <input class="stylebtn" type="button" onclick="DZ.player.playRadio(203); return false;" value="Play Radio"/> -->
	<!-- <input class="stylebtn" type="button" onclick="DZ.player.playSmartRadio(13); return false;" value="Play Smart Radio"/> -->

  <br/>
  <div id="deezer_buttons" hidden>
    <input class="stylebtn" id="button" type="button" onclick="DZ.player.play(); return false;" value="play"/>
    <input class="stylebtn" type="button" onclick="DZ.player.pause(); return false;" value="pause"/>
    <input class="stylebtn" type="button" onclick="DZ.player.prev(); return false;" value="prev"/>
    <input class="stylebtn" type="button" onclick="DZ.player.next(); return false;" value="next"/>
    <br/>
  </div>
	
	
	
  
	
	<!-- <input class="stylebtn" type="button" onclick="DZ.player.setVolume(20); return false;" value="set Volume 20"/> -->
	<!-- <input class="stylebtn" type="button" onclick="DZ.player.setVolume(80); return false;" value="set Volume 80"/> -->
	
	<br/><br/><br/>
</div>
<div id="slider_seek" class="progressbarplay" style="">
  <div class="bar" style="width: 0%;"></div>
</div>
<script>
  function display_control()
  {
    if (`{{user}}` == `{{playlist_host}}`)
    {
      dezzer_checkbox = document.getElementById('deezer_buttons')
      dezzer_checkbox.style.display="block";
    }
  }
  function checkbox_permission()
  {
    get_check_box=document.querySelectorAll(".permission_checkbox")
    get_check_box.forEach(function(results){
    results.addEventListener('click',function(k){
    dezzer_checkbox = document.getElementById('deezer_buttons')
    playlist_Socket.send(JSON.stringify({
      'message':'',
      'track_id':'',
      'artist_name':'',
      'album_title':'',
      'duration':'',
      'user_name': '',
      'permission':k.target.id,
      'delete_song':''}));
      
      
      // if (dezzer_checkbox.style.display =="block")
          // dezzer_checkbox.style.display="hidden"
      //dezzer_checkbox.style.display="block"
    })
    })
  }
function show_tag()
{ 
    document.getElementById("tag_1").style.visibility ="hidden";
}
	$(document).ready(function(){
		$("#controlers input").attr('disabled', true);
		$("#slider_seek").click(function(evt,arg){
			var left = evt.offsetX;
			DZ.player.seek((evt.offsetX/$(this).width()) * 100);
		});
	});
	function event_listener_append() {
		var pre = document.getElementById('event_listener');
		var line = [];
		for (var i = 0; i < arguments.length; i++) {
			line.push(arguments[i]);
		}
		// pre.innerHTML += line.join(' ') + "\n";
	}
	function onPlayerLoaded() {
		$("#controlers input").attr('disabled', false);
		event_listener_append('player_loaded');
		DZ.Event.subscribe('current_track', function(arg){
			event_listener_append('current_track', arg.index, arg.track.title, arg.track.album.title);
		});
		DZ.Event.subscribe('player_position', function(arg){
			event_listener_append('position', arg[0], arg[1]);
      // console.log('arg:',arg[0])
			$("#slider_seek").find('.bar').css('width', (100*arg[0]/arg[1]) + '%');
		});
    DZ.player.playPlaylist(parseInt(`{{playlist_id}}`),true); return false;
    DZ.player.play(); return false;
    // document.getElementById('play_button').click()
    
    
    // DZ.player.pause(); return false;
    // DZ.player.seek(50); return false;
	}
	DZ.init({
		appId  : '439802',
		channelUrl : 'http://localhost:8000/channel.html',
		player : {
			container : 'player',
      cover : true,
      autoplay : true,
      format : 'square',
      layout : 'dark',
			// playlist : true,
			width : 450,
			height : 450,
			onload : onPlayerLoaded
		}
  });
  
//  begin of script
  const playlistName= JSON.parse(document.getElementById('playlist-name').textContent);
const user_name= JSON.parse(document.getElementById('user-username').textContent);
const playlist_Socket= new WebSocket('ws://'+window.location.host+'/ws/playlist/'+playlistName+'/');
get_tracks=document.querySelectorAll('[id=artist_search_add]');
get_tracks.forEach(function(results){
results.addEventListener('click',function(k)
{ 
  tag_values = results.value.split(',');
  playlist_Socket.send(JSON.stringify({
    'message':tag_values[1],
    'track_id':tag_values[0],
    'artist_name':tag_values[2],
    'album_title':tag_values[3],
    'duration':tag_values[4],
    'user_name': user_name,
    'permission':'',
    'delete_song':''}));
})})
document.querySelector('#remove_song_id')   
playlist_Socket.onmessage =function(e){
  const data = JSON.parse(e.data);
  console.log('permission:',data.permission[0])
  console.log('user:','{{user}}')
  if (data.permission[0] ==`{{user}}`)
  {
    console.log('user match')
    dezzer_checkbox = document.getElementById('deezer_buttons')
    return dezzer_checkbox.style.display="block";
  }
  var add_song= document.createElement("li");
  var remove_song = document.createElement("button");
  remove_song.appendChild(document.createTextNode('remove'));
  var song_input=data.message[0];
  remove_song.setAttribute('id','remove_song_id');
  add_song.setAttribute('id',data.track_id[0]);
  remove_song.setAttribute("onclick","delete_song('"+data.track_id[0]+"');delete_track_playlist("+data.track_id[0]+")");
  var create_node =document.createTextNode(song_input+' '+' | '+data.album_title[0]+'|'+data.artist_name[0]+'|'+data.duration[0]+'|');
  add_song.appendChild(create_node);
  console.log('Before')
  console.log("status:",`{{playlist_status}}`)
  console.log("host",`{{playlist_host}}`)
  console.log("user",`{{user}}`)
  if (`{{playlist_status}}` == 'Private' || `{{playlist_host}}` == `{{user}}`)
  {
      add_song.appendChild(remove_song)
      console.log('im here!!!')
  }
  if (song_input !="" && data.delete_song[0] == '')
    var x=document.getElementById("List_songs").appendChild(add_song);
  // if (`{{playlist_status}}` == 'Private' && `{{plyalist_host}}` == `{{user}}`)
    // document.getElementById("List_songs").appendChild(add_song).appendChild(remove_song);
  console.log('delete output: ',data.delete_song[0][0]);
  if (data.delete_song[0] != '')
    {
      found=document.getElementById(data.delete_song[0][0]);
        found.remove();
    } 
 }
 function get_songs()
 {
  search_artist=document.getElementById('search_artist').value;
 $.ajax({
   url:'/playlist_name/',
   method:"POST",
   data:{
     csrfmiddlewaretoken: "{{ csrf_token }}",
     search_artist,}
    });
  }
 function delete_song(song_name)     
 {
    const messageInputDom =song_name;
    console.log('delete input: ',messageInputDom)
    playlist_Socket.send(JSON.stringify({
      'message': '',
      'track_id':'',
      'artist_name':'',
      'album_title':'',
      'duration':'',
      'user_name': '',
      'delete_song':messageInputDom,
      }));
      // DZ.player.playPlaylist(parseInt(`{{playlist_id}}`)); return false;
 }

function api_add_track_playlist(track_id)
{
  playlist_code = `{{playlist_id}}`;
  $.ajax({
    url:'/api_add_song/',
    method:"POST",
    data:{
      csrfmiddlewaretoken: "{{ csrf_token }}",
      track_id,
      playlist_code,}});
}

function add_search_track(track_id)
{
  playlist_code = `{{playlist_id}}`;
  $.ajax({
    url:'/api_add_song/',
    method:"POST",
    data:{
      csrfmiddlewaretoken: "{{ csrf_token }}",
      track_id,
      playlist_code,}});
}

// function current_postion()
// {
  // 7.855419
  // DZ.Event.subscribe('player_position', function(arg){
	// event_listener_append('position', 7.855419, arg[1]);
  // console.log('arg:',arg[0])
	// $("#slider_seek").find('.bar').css('width', (100*arg[0]/arg[1]) + '%');
// });
// }

//




function close_search(){
  document.getElementById("clear_search_results").click();
}
function delete_track_playlist(track_id)
{
  playlist_code = `{{playlist_id}}`;
  $.ajax({
    url:'/api_delete_song/',
    method:"POST",
    data:{
      csrfmiddlewaretoken: "{{ csrf_token }}",
      track_id,
      playlist_code,}});
}
function edit_user()
{
  openNav()
}
checkbox_permission()
display_control()
</script><br/>
<!-- event_listener : <br/> -->
<pre id="event_listener" style="height:100px;overflow:auto;"></pre>

</body>
</html>