/** Large Screen **/
@media only screen and (min-width: 991px) {
  .logo > img {
    max-width: 8rem;
  }

  .bs-example{
    margin: 20px;
}

  /* HEADER */
  .navbar {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar-container {
    max-width: 991px;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
  }

  /* MAIN */
  .hero-bg {
    background: url("../images/hero-burst.svg") no-repeat center;
    background-size: 125%;
  }

  .hero > h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  /* FOOTER */
  footer {
    max-width: 990px;
    padding-top: 5rem;
  }

  .footer-links-section {
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-links-section .logo {
    flex-grow: 0.5;
  }

  .footer-links {
    flex-grow: 2.5;
  }
  .footer-links ul {
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 5rem;
  }

  .footer-social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0;
    flex-grow: 2;
  }
  .footer-social-icons > img {
    padding: 0.9rem;
  }

  .footer-legal-section {
    margin: 0 auto;
    padding-bottom: 3.1rem;
  }
}

/** XL Screen **/
@media only screen and (min-width: 1200px) {
  /* HEADER */
  .navbar-container {
    max-width: 1170px;
  }

  /* FOOTER */
  footer {
    max-width: 1170px;
  }

  .footer-links-section .logo {
    flex-grow: 0.5;
  }

  .footer-links {
    flex-grow: 2.5;
  }

  .footer-social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 2;
  }
}

