* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/* HELPERS */
.light-grey {
  color: #dbdbdb ;
}

.dark-grey {
  color: #919496;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BODY */
body {
  background-color: #000;
}

.page {
  background: linear-gradient(#f36482, #f8bf4a);
  height: 100vh;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: .8rem;
  color: white;
}

/* SPOTIFY LOGO */
.logo > img {
  max-width: 6.5rem;
}

/* LINKS */
.link {
  text-decoration: none;
}
.link:hover {
  color: #1fd65f;
  cursor: pointer;
}

/** HEADER  **/
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.navbar-container {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-collapse {
  display: none;
  margin: auto 0;
  margin-left: auto;
}

.navbar-toggle {
  cursor: pointer;
  padding: .6rem 0;
  margin-left: auto;
}
.navbar-toggle img {
  width: 1.6rem;
  height: 2.2rem;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar-links > li {
  font-size: 1.1em;
  padding: 1.8rem 1rem;
}
.navbar-links > li:last-of-type {
  padding-right: 0;  
}
/** MAIN **/
main {
  height: 100vh;
}

.hero {
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero h1 {
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: -0.06rem;
  margin-bottom: 0.5rem;
}
.hero p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.hero-bg {
  background: url("../images/hero-burst-mobile.svg") no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.big-button {
  color: white;
  background-color: #1db954;

  font-size: 1rem;
  font-weight: bold;

  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
}
.big-button:hover {
  background-color: #1ed760;
  transition: background-color 200ms linear;
}

/** FOOTER **/
footer {
  background-color: black;
  padding-top: 3rem;
}

.footer-links-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-links ul {
  list-style: none;
  margin-top: 3rem;
}
.footer-links li {
  padding: .8rem 0;
}

.footer-social-icons {
  margin-top: 6rem;
}
.footer-social-icons img {
  padding: 0.6rem;
  margin: 0.2rem;
  background-color: #222326;
  border-radius: 50%;
}

/* FOOTER BOTTOM SECTION */
.footer-legal-section {
  background-color: #000;
  padding: 0 1rem 1.3rem 1rem;
  font-size: .6rem;
}

.footer-legal-section .container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.legal-section-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: 3rem;
}

.legal-section-links a {
  padding: 0.5rem;
}

.copyrigth {
  word-wrap: none;
  flex-shrink: 0;
}

.legal-section-country {
  display: flex;
  justify-content: flex-end;
}

.legal-section-country .flag {
  height: 1.1rem;
  margin-left: 0.8rem;
}

