
body {
  display: block;
  margin: 8px;
  background-color: rgb(18, 18, 18);
  color: white;
}

.private {
  color:#1db954;
  text-decoration: none;
}

.priavte:hover {
  color:#fff;
  text-decoration: none;
}

.public {
  color:#1db954;
  text-decoration: none;
}

.public:hover {
  color:#fff;
  text-decoration: none;
}

div#artist_info{
  overflow-y: scroll;
  height: 400px;
  width: 800px;
  margin: auto;
}
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  #message_users{
    color: white;
  }
  .user_details{
    width: 20%;
    margin: 100px auto;
    overflow: hidden;
    /* playlist */
  }
  .user_details input{
    border: 0;
  }
  .user_list > div{
    padding: 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
  .user_list > div:hover{
    background-color: #1e4dd4;
  }

  .overlay-content {
    position: relative;
    top: 17%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .playlistz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation li {
    list-style: none;
    float: left;
}
.navigation li a {
    color: #fff;
    padding: 28px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}
.navigation li a i {
    width: 100%;
    font-size: 20px;
    margin-bottom: 7px;
}

/*-- Responsive CSS --*/
@media screen and (max-width:767px) {
.show-menu-btn,
.hide-menu-btn {
    display: block;
}
.navigation {
  margin: 0px;
  float: right;
}
.navigation li {
  list-style: none;
  float: left;
}
.navigation li a {
  color: #fff;
  padding: 28px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
}
.navigation li a i {
  width: 100%;
  font-size: 20px;
  margin-bottom: 7px;
}
}

#user {
  float:right;
  margin-top:30px;
  background-color: #1db954;
}

.stylebtn {
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.stylebtn:hover {
  background-color: white;
  color: #1db954;
  border:none;
}
