/** Medium Screen **/
@media only screen and (min-width: 751px) {
  /* HEADER */
  .navbar-container {
    max-width: 750px;
  }

  /* MAIN */
  .hero > h1 {
    font-size: 4rem;
    margin-bottom: .7rem;
  }

  /* FOOTER */
  footer {
    max-width: 750px;
    margin: 0 auto;
  }
  
  .footer-links {
    flex-direction: row;
    padding-right: 3rem;
  }
  .footer-links ul {
    margin-top: 3rem;
  }

  .footer-legal-section {
    font-size: .7rem;
  }
}

